<form id="form_post">
	<div class="group col span_12_of_12">
		<label for="title" id="title_label" class="mb10">Blog Titel</label>
		<input type="text" id="title" name="title" value="{{ post.title }}" class="w100"/>

		<label for="message" id="message_label" class="mb10">Blog Message</label>
		<textarea id="message" name="message"  class="w100">{{ post.message }}</textarea>

		<input type="hidden" id="id" name="id" value="{{ post.id }}" />
	</div>
	
	<div class="group">
		<div class="col span_6_of_12">
			<input type="button"  value="{% if post.id == 'new' %} Opslaan {% else %} Wijzigen {% endif %}" onclick="postUpdateInsert()" class="w100 mb10"/>
		</div>
		<div class="col span_6_of_12">
			<input type="button"  value="Annuleer"  onclick="postCancel()" class="w100 mb10"/>
		</div>
	</div>
</form>