<section id="posts">
	<h2 class="mb10">Blog van {{ current_author.firstname }} {{ current_author.lastname }}</h2>
	{% if posts|length > 0 %}
		{% for post in posts %}
			<article class="w100 mb10">
				<div class="w100">
					<h4>{{ post.title }}</h4>
					<span id="post_{{ post.id }}_short">{{ post.message[:100]|striptags }}</span>
					<span id="post_{{ post.id }}_full" class="hidden">{{ post.message}}</span>
				</div>
				<div class="w100 mb10">
					<span class="post_created_modified">Geschreven op : {{ post.created }}, Gewijzigd op {{ post.modified }}</span><br/>
					<br/>
					<a href="javascript:postReadFull('{{ post.id }}')">Lees (meer/minder)</a>
					{% if author is defined %}
						{% if author.id == current_author.id %}
								 - <a href="javascript:postEditGet('{{ post.id }}')">Bewerken</a> - 
								<a href="javascript:toggleClass('#post_{{ post.id }}_delete','hidden');">Verwijderen</a>
								
								<span id="post_{{ post.id }}_delete" class="hidden">
									:: <a href="javascript:toggleClass('#post_{{ post.id }}_delete','hidden');" > Nee </a> - 
									<a href="javascript:postDelete('{{ post.id }}')" class="delete_yes"> Ja </a>
								</span>
						{% endif %}
					{% endif %}
				</div>
			</article>
		{% endfor %}
	{% else %}
		<div class="w100 mb10">
			Er zijn geen blog posts.
		</div>
	{% endif %}
</section>
{% if author is defined %}
	{% if author.id == current_author.id %}
		<section id="post_create">
			
			<div class="w100 mb10">
				<a href="javascript:postEditGet('new')">Maak een nieuwe blog post</a>
			</div>

			<div id="post_create_form" class="w100 mb10">

			</div>

		</section>
	{% endif %}
{% endif %}