<h2 class="mb10">Vul je gegevens hieronder</h2>
Om als auteur bijdragen te kunnen leveren aan dit blog moet je hier je gegevens invullen
<form id="author_register_form">
	<label for="firstname">Voornaam</label><br/>
	<input type="text" id="firstname" name="firstname" class="w100" placeholder="Voornaam" {% if author is defined %}value="{{author.firstname}}"{% endif %}/><br/>
	<br/>
	<label for="lastname">Achternaam</label><br/>
	<input type="text" id="lastname" name="lastname" class="w100" placeholder="Achternaam" {% if author is defined %}value="{{author.lastname}}"{% endif %}/><br/>
	<br/>
	<label for="email">E-mail</label><br/>
	<input type="text" id="email" name="email" class="w100" placeholder="E-mail"  {% if author is defined %}value="{{author.email}}"{% endif %}/><br/>
	<br/>
	<label for="password">Wachtwoord</label><br/>
	<input type="text" id="password" name="password" class="w100" placeholder="Wachtwoord"/><br/>
	<br/>
	<label for="repeat_password">Herhaal Wachtwoord</label><br/>
	<input type="text" id="repeat_password" name="repeat_password" class="w100" placeholder="Herhaal Wachtwoord"/><br/>
	<br/>
	<input type="button" value="Verstuur" onclick="authorRegister()"  class="w100"/>
</form>
{% if message is defined %}
	<em class='error'>{{ message }}</em>
{% endif %}